html {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  height: 100%;
}

ol, ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

#root {
  height: 100%;
}

.board-container {
  display: flex;
  background-color: #ad6200;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  padding : 25px;
  margin: 20px auto;
  filter: drop-shadow(0 0 0.4rem black);}

.game-state {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.board-col {
  border: 4px solid transparent;
}

.board-col:hover {
  border: 4px dotted #DC143C
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
  margin: 3px 1px;
  padding: 0;
  text-align: center;
  width: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.squarePlayerX {
  background: #ffff66;
}

.squarePlayerO {
  background: #ff4d4d;
}

.squareDefault {
  background: #169fde;;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  background-color: #169fde;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history-bar {
  display: flex;
  flex-direction: column;
  background: #ff3385;
  width: 270px;
}

.game-info {
  padding: 5px;
  height: 100%;
  overflow-y: scroll;
}

.game-info::-webkit-scrollbar {
    width: 6px;
}

.game-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.game-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
}

.history-title {
  text-align: center;
  color: #ededeb;
}

.history-button-container {
  padding: 5px;
}

.history-button {
  width: 100%;
  height: 50px;
  margin: auto;
}

.boldbutton {
  font-weight: bold;
}


.game-logo {
  color: white;
  font-family: impact;
  font-weight: bold;
  font-size: 30px;
  width: 50%;
  text-align: center;
  margin: auto;
  text-shadow: 1px 1px 2px black;
}

.game-result {
  color: white;
  font-weight: bold;
  font-size: 25px;
  width:50%;
  text-align: center;
  margin: auto;
}

.minisquare {
  height: 40px;
  width: 40px;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
